[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
djangorestframework = "==3.9.1"
django-heroku = "*"
flake8 = "*"
gunicorn = "*"
django-import-export = "*"
django-rest-swagger = "==2.2.0"
pyyaml = "*"
django-constance = {extras = ["database"],version = "*"}
django-mathfilters = "*"

[requires]
python_version = "3.7.3"
