<p style="font-family:sans-serif">
<p style="text-align:center;"><img src="https://i.imgur.com/ojzyGCg.jpg"></p>
<p>Hola <span style="font-weight:bold;">{{registrant_full_name}}</span></p>
<p>Este es tu código QR para participar de la {{registrant_event_title}}. ¡Úsalo sabiamente!</p>
<br>
<p style="text-align:center;"><img src="{{ qr_code_create_api_url }}?data={{ registrant_qr_code }}"></p>
<br>
<p style="text-align:center; font-weight:bold;">Consérvalo en tu teléfono o imprímelo.</p>
<p style="text-align:center; font-weight:bold;">Te será requerido para:</p>
<br>
<br>
<p style="text-align:center;"><img src="https://i.imgur.com/QqpMCez.png"></p>
<br>
<br>
<br>
<p style="text-align:center;">
    <small>AVISO DE CONFIDENCIALIDAD: La información aquí contenida y transmitida es CONFIDENCIAL, para uso exclusivo del destinatario arriba indicado y para su utilización específica. Si usted no es el destinatario, sepa disculpar la molestia. Se le notifica por el presente que está prohibida su revisión, retransmisión, difusión, y/o cualquier otro tipo de uso de la información contenida por personas extrañas al destinatario original. Si Ud. Ha recibido por error esta información, por favor contacte al remitente y elimine la información aquí contenida de toda computadora donde resida.</small></p>
<p style="text-align:center;">
    <small style="text-align:center;">
    Si has recibido este mensaje
    <span style="font-weight:bold">por error</span>
    por favor contáctanos haciendo clic en este
    <a href="https://www.belatrixsf.com/hackatrix/" title="Hackatrix Belatrix">enlace</a></small></p>
<p style="text-align:center;"><img src="https://i.imgur.com/U25fzuN.jpg"></p>
</body>