<p style="font-family:sans-serif">
<p style="text-align:center;"><img src="https://i.imgur.com/ZmS8XvQ.png"></p>
<p style="text-align:center; font-weight:bold;">¡Faltan {{days_left_to_event}} día(s) para la hackatrix  y queremos que estés preparado!</p>
<p>Este es tu código QR para participar de la {{registrant_event_title}}, el sábado 28 de Septiembre en las oficinas de Globant: Av. El Dorado #69b - 45</p>
<br>
<p style="text-align:center;"><img src="{{ qr_code_create_api_url }}?data={{ registrant_qr_code }}"></p>
<br>
<p style="text-align:center; font-weight:bold;">¡Tenlo listo al momento de entrar en tu teléfono o impreso!</p>
<p style="text-align:center;"><strong>Te compartimos algunas</strong> recomendaciones para hacer de este día una fecha inolvidable:</p>
<br>
<p>
    <ul>
        <li>El evento se realizará de 8:00am - 8:00pm</li>
        <li>No olvides llevar tu laptop y Cédula.</li>
        <li>Recuerda que no se permitirá el ingreso de personas que no se hayan registrado.</li>
        <li>Debes llevar listas todas tus herramientas para mostrar tu código funcionando, librerías para deployar tu código, IDE de programación, manejador de base datos, vídeos tutoriales, etc.</li>
    </ul>
</p>
<br>
<br>
<br>
<p style="text-align:center; font-weight:bold;">¡Te esperamos en la Av. El Dorado #69b - 45!</p>
</body>